<Project>
    <PropertyGroup>
        <ContainerRepository>L-Sypniewski/blazor-net8</ContainerRepository>
        <PrivateRepositoryUrl>https://github.com/L-Sypniewski/blazor-net8</PrivateRepositoryUrl>
        <ContainerImageTag>dev</ContainerImageTag>
        <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
        <ContainerRegistry>ghcr.io</ContainerRegistry>
    </PropertyGroup>
    <ItemGroup>
        <ContainerPort Include="80" Type="tcp" />
    </ItemGroup>
</Project>